/build
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
XOApp/build
XOAppLibrary/build
app/build
tkgz-library/build
.classpath
.project
local.properties
.idea/compiler.xml
.idea/misc.xml
/.idea/*.xml
TKGZ-Android.iml
XOApp/XOApp.iml
XOAppLibrary/XOAppLibrary.iml
app/app.iml
.idea
*.iml
